white_compile RCDATA "white_compile.png"
white_explorer RCDATA "white_explorer.png"
white_log RCDATA "white_log.png"
white_modules RCDATA "white_modules.png"
white_new RCDATA "white_new.png"
white_open RCDATA "white_open.png"
white_pause RCDATA "white_pause.png"
white_pause_disabled RCDATA "white_pause_disabled.png"
white_prompt RCDATA "white_prompt.png"
white_run RCDATA "white_run.png"
white_save RCDATA "white_save.png"
white_saveall RCDATA "white_saveall.png"
white_saveall_disabled RCDATA "white_saveall_disabled.png"
white_save_disabled RCDATA "white_save_disabled.png"
white_search RCDATA "white_search.png"
white_stepin RCDATA "white_stepin.png"
white_stepover RCDATA "white_stepover.png"
white_stop RCDATA "white_stop.png"
white_stop_disabled RCDATA "white_stop_disabled.png"
white_types RCDATA "white_types.png"

