compile RCDATA "compile.png"
explorer RCDATA "explorer.png"
log RCDATA "log.png"
modules RCDATA "modules.png"
new RCDATA "new.png"
open RCDATA "open.png"
pause RCDATA "pause.png"
pause_disabled RCDATA "pause_disabled.png"
prompt RCDATA "prompt.png"
run RCDATA "run.png"
save RCDATA "save.png"
saveall RCDATA "saveall.png"
saveall_disabled RCDATA "saveall_disabled.png"
save_disabled RCDATA "save_disabled.png"
search RCDATA "search.png"
stepin RCDATA "stepin.png"
stepover RCDATA "stepover.png"
stop RCDATA "stop.png"
stop_disabled RCDATA "stop_disabled.png"
types RCDATA "types.png"

