Dark VCLSTYLE "G:\\Program Files (x86)\\Embarcadero\\Studio\\21.0\\Redist\\styles\\vcl\\TabletDark.vsf"
Default VCLSTYLE "G:\\Program Files (x86)\\Embarcadero\\Studio\\21.0\\Redist\\styles\\vcl\\Windows10.vsf"
Blue VCLSTYLE "G:\\Program Files (x86)\\Embarcadero\\Studio\\21.0\\Redist\\styles\\vcl\\Windows10Blue.vsf"
Resource_1 RCDATA "G:\\Program Files (x86)\\Embarcadero\\Studio\\21.0\\Redist\\styles\\vcl\\Windows10Green.vsf"
